<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/icon/explore.svg">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/file-explorer.css">
  <title>Xplorer - File explorer</title>
</head>
<body>

  <div class="app-container">
    <div class="sidebar-container">
      <div class="profile-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2Z"/><path d="M4.271 18.346S6.5 15.5 12 15.5s7.73 2.846 7.73 2.846M12 12a3 3 0 1 0 0-6a3 3 0 0 0 0 6Z"/></g></svg>
<<<<<<< HEAD
        <h1 style="text-align: center;">Host <br> [<%= host %>]</h1>
      </div>
      <div class="file-tree-container">
        <% if (files.length > 0) { %>
          <h1 style="background-color: var(--primary); color: #fff; padding-inline: 5px;">FILES <%= `[${files.length}]` %></h1>
          <% for(let file of files) { %>
            <a href="<%= file.name %>" class="file-or-dir" title="<%= file.name %> - <%= file.size ? `\t[${file.size}]` : ''%>">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M13 4H6v16h12V9h-5z" opacity=".3"/><path fill="currentColor" d="m20 8l-6-6H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8zm-2 12H6V4h7v5h5v11z"/></svg>
              <%= file.name %>
            </a>
          <% } %>
        <% }  %>
        <% if (directories.length > 0) { %>
          <h1 style="background-color: var(--primary); color: #fff; padding-inline: 5px;">DIRECTORIES <%= `[${directories.length}]` %></h1>
          <% for(let dir of directories) { %>
            <a href="<%= dir.name %>" class="file-or-dir" title="<%= dir.name %>">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M4 8h16v10H4z" opacity=".3"/><path fill="currentColor" d="M20 6h-8l-2-2H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 12H4V8h16v10z"/></svg>
              <%= dir.name %>
            </a>
          <% } %>
=======
        <h1 style="text-align: center;">Host <br> [<%= username %>]</h1>
      </div>
      <div class="file-tree-container">
        <% for(let file of files) { %>
          <a href="#" class="file-or-dir" title="<%= file.name %>">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M13 4H6v16h12V9h-5z" opacity=".3"/><path fill="currentColor" d="m20 8l-6-6H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8zm-2 12H6V4h7v5h5v11z"/></svg>
            <%= file.name %>
          </a>
        <% } %>
        <% for(let dir of directories) { %>
          <a href="#" class="file-or-dir" title="<%= dir.name %>">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M4 8h16v10H4z" opacity=".3"/><path fill="currentColor" d="M20 6h-8l-2-2H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 12H4V8h16v10z"/></svg>
            <%= dir.name %>
          </a>
>>>>>>> 8d26760 (fix: adding static setup for sending file)
        <% } %>
      </div>
    </div>
  </div>
  
</body>
</html>